<div style="width:80%; margin:10px auto; position: relative;">
  <h1>Nuevo registro de nota</h1>
  <%= render 'form', record: @record %>
  <div class="back-div"><%= link_to 'Atrás', records_path, class:"btn-back" %></div>
</div>
