<div style="width:80%; margin:10px auto; position: relative;">
  <h1 class="tittle">Nuevo registro de Professor</h1>
  <%= render 'form', professor: @professor %>
  <div class="back-div"><%= link_to 'Atrás', professors_path, class:"btn-back" %></div>
</div>