<div style="width:80%; margin:10px auto; position: relative;">
  <h1>Editar registro de materia</h1>
  <%= render 'form', subject: @subject %>
  <div class="back-div">
    <%= link_to 'Mostrar registro', @subject, class:"btn-show" %> |
    <%= link_to 'Atrás', subjects_path, class:"btn-back" %>
  </div>
</div>
