<div style="width:80%; margin:10px auto; position: relative;">
  <h1>Nuevo Curso</h1>
  <%= render 'form', course: @course %>
  <div class="back-div"><%= link_to 'Todos los cursos', courses_path, class:"btn-back" %></div>
</div>
